fridge-friend-workflow-cleaned.json
{
  "name": "Fridge Friend - Photo to Recipe (Spoonacular)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1792,
        736
      ],
      "id": "66e6057e-a2ac-4d4c-bcb8-c59c444ed1ba",
      "name": "Telegram Trigger3",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-photo",
              "leftValue": "={{ $json.message.photo || $json.message.document }}",
              "rightValue": "",
              "operator": {
                "type": "exists",
                "operation": "exists"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "72852eb9-93b2-4306-96b9-1443361279e5",
      "name": "Has Photo?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1520,
        736
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "👋 Hi! I'm your *Fridge Friend Bot*!\n\nSend me a 📸 photo of your ingredients and I'll:\n1. Detect what you have\n2. Suggest recipes with full steps!\n\nJust snap a pic to get started! 🍳",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "f65acb9e-c900-4f17-a19d-233aa8f73e7e",
      "name": "Send Welcome Message3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        880
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📸 Got your photo! Analysing your ingredients with AI... please wait a moment ⏳",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "9df301c8-7820-40cc-b39c-ec3c8945f11b",
      "name": "Send Processing Message3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        640
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ (() => { const photos = $('Telegram Trigger3').item.json.message.photo || []; return photos.length ? photos[photos.length - 1].file_id : ''; })() }}",
        "additionalFields": {}
      },
      "id": "e3a4bd3a-938e-4994-8bc1-0a553c824c02",
      "name": "Get File Path3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1024,
        640
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "Analyze this image and list all visible food ingredients/items. Return a bullet list with just the names (no explanations). If something is unclear, label it as 'unsure'.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        640
      ],
      "id": "0bc04527-3603-4e69-8bda-52b5216cacca",
      "name": "Analyze an image3",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Input: Gemini output\n// Output: ONE item: { items: [ { name, confidence } ] }\n\nconst data = $input.first().json;\nconst text =\n  data?.content?.parts?.map(p => p?.text).filter(Boolean).join('\\n') ||\n  data?.candidates?.[0]?.content?.parts?.map(p => p?.text).filter(Boolean).join('\\n') ||\n  data?.text ||\n  '';\n\nconst items = text\n  .split(/\\r?\\n/)\n  .map(l => l.trim())\n  .filter(Boolean)\n  .map(l => l.replace(/^(\\*|-|•|\\d+[.)])\\s+/, '').trim())\n  .filter(Boolean)\n  .filter(l => l.length > 1);\n\nconst seen = new Set();\nconst uniqueItems = items\n  .filter(x => x.toLowerCase() !== 'unsure')\n  .filter(x => {\n    const key = x.toLowerCase();\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n\nreturn [{\n  json: {\n    items: uniqueItems.map(name => ({ name, confidence: 0.7 }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        640
      ],
      "id": "940f05dd-2399-48e8-a3e0-b8920b32ec37",
      "name": "Identify Each Items3"
    },
    {
      "parameters": {
        "jsCode": "// --------------- 1) Accept BOTH direct items and text/JSON model output ---------------\nlet items = [];\n\nif (Array.isArray($json?.items)) {\n  items = $json.items;\n}\n\nif (!items.length) {\n  const responseText =\n    $json?.text ||\n    $json?.candidates?.[0]?.content?.parts?.[0]?.text ||\n    $json?.content?.parts?.map(p => p?.text).filter(Boolean).join('\\n') ||\n    JSON.stringify($json || { items: [] });\n\n  try {\n    const cleaned = String(responseText).replace(/```json|```/g, '').trim();\n    const parsed = JSON.parse(cleaned);\n    items = Array.isArray(parsed.items) ? parsed.items : [];\n  } catch (e) {\n    items = [];\n  }\n}\n\n// --------------- 2) Process items (names only) ---------------\nconst seen = new Set();\n\nconst processedItems = items\n  .map(item => {\n    const name = String(item?.name ?? item?.label ?? '')\n      .toLowerCase()\n      .trim();\n    return { label: name, detected: name };\n  })\n  .filter(x => x.label && x.label.length > 1 && x.label !== 'unsure')\n  .filter(x => {\n    if (seen.has(x.label)) return false;\n    seen.add(x.label);\n    return true;\n  });\n\n// --------------- 3) Chat ID ---------------\nfunction getChatId(obj) {\n  return (\n    obj?.message?.chat?.id ??\n    obj?.chat?.id ??\n    obj?.callback_query?.message?.chat?.id ??\n    obj?.message?.from?.id ??\n    obj?.chat_id ??\n    obj?.chatId ??\n    null\n  );\n}\n\nconst chat_id =\n  getChatId($input.first()?.json ?? {}) ??\n  getChatId($('Telegram Trigger3').first().json ?? {}) ??\n  getChatId($json) ??\n  null;\n\nreturn [{\n  json: {\n    items: processedItems,\n    total: processedItems.length,\n    chat_id\n  }\n}];"
      },
      "id": "bd726948-3a6f-4e0b-9a94-bf892e1e4b0a",
      "name": "Process Ingredients3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items;\n\nconst chatId =\n  $json.chat_id ??\n  $('Telegram Trigger3').first().json.message.chat.id ??\n  $('Telegram Trigger3').first().json.message.from.id;\n\nif (!items || items.length === 0) {\n  return [\n    {\n      json: {\n        message: \"😕 I couldn't detect any ingredients in this image. Please try again with a clearer photo!\",\n        ingredients_for_recipe: '',\n        detected_names: [],\n        detected_count: 0,\n        chat_id: chatId,\n        items: []\n      }\n    }\n  ];\n}\n\nlet msg = `🥦 *Detected ${items.length} ingredient(s):*\\n\\n`;\n\nitems.forEach((item) => {\n  msg += `• *${item.label}*\\n`;\n});\n\nmsg += `\\n🍳 *Finding recipes for you now...*`;\n\nconst ingredientNames = items.map(i => i.label);\n\nreturn [\n  {\n    json: {\n      message: msg,\n      ingredients_for_recipe: ingredientNames.join(','),\n      detected_names: ingredientNames,\n      detected_count: ingredientNames.length,\n      chat_id: chatId,\n      items: items\n    }\n  }\n];"
      },
      "id": "fbbab3bd-e11a-4a92-841e-c5ef74b7e26d",
      "name": "Build Ingredient Summary3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        640
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "fd116a22-7320-4ada-bf9e-a350ce64dada",
      "name": "Send Ingredient List3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        640
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.spoonacular.com/recipes/findByIngredients",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9f7b17ce037c4035828c280a89d8710c"
            },
            {
              "name": "ingredients",
              "value": "=\"{{ $('Build Ingredient Summary3').item.json.ingredients_for_recipe.replace('here are the visible food ingredients/items:,', '') }}\""
            },
            {
              "name": "number",
              "value": "3"
            },
            {
              "name": "ranking",
              "value": "1"
            },
            {
              "name": "ignorePantry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "808eee50-48a1-4da3-8a11-491d5151f969",
      "name": "Fetch Recipes3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet recipes = [];\n\nfor (const item of allItems) {\n  const j = item.json;\n\n  if (Array.isArray(j)) {\n    recipes = j.filter(r => r && (r.id || r.title));\n    if (recipes.length) break;\n  }\n\n  if (j?.body && Array.isArray(j.body)) {\n    recipes = j.body.filter(r => r && (r.id || r.title));\n    if (recipes.length) break;\n  }\n\n  if (Array.isArray(j?.recipes)) {\n    recipes = j.recipes.filter(r => r && (r.id || r.title));\n    if (recipes.length) break;\n  }\n\n  if (Array.isArray(j?.results)) {\n    recipes = j.results.filter(r => r && (r.id || r.title));\n    if (recipes.length) break;\n  }\n}\n\nif (!recipes.length) {\n  const maybeRecipes = allItems\n    .map(i => i.json)\n    .filter(r => r && !Array.isArray(r) && (r.id || r.title));\n  if (maybeRecipes.length) recipes = maybeRecipes;\n}\n\nlet chatId = null;\nlet detectedItems = [];\nlet detectedNames = [];\n\ntry {\n  const build = $('Build Ingredient Summary3').first().json || {};\n  chatId = build.chat_id ?? null;\n  detectedItems = Array.isArray(build.items) ? build.items : [];\n  detectedNames = Array.isArray(build.detected_names)\n    ? build.detected_names.map(x => String(x).toLowerCase().trim()).filter(Boolean)\n    : [];\n} catch (e) {}\n\nconst totalDetected = detectedNames.length;\n\nfunction normalize(str) {\n  return String(str || '')\n    .toLowerCase()\n    .trim();\n}\n\nfunction recipeUsesAllDetected(recipe, detectedNames) {\n  const used = Array.isArray(recipe.usedIngredients) ? recipe.usedIngredients : [];\n  const usedNames = used.map(i => normalize(i?.name));\n\n  return detectedNames.every(detected =>\n    usedNames.some(usedName =>\n      usedName === detected ||\n      usedName.includes(detected) ||\n      detected.includes(usedName)\n    )\n  );\n}\n\nconst strictRecipes = recipes.filter(recipe => recipeUsesAllDetected(recipe, detectedNames));\n\n// fallback: if strict match fails, sort by most used ingredients\nconst rankedRecipes = [...recipes].sort((a, b) => {\n  const aUsed = Array.isArray(a.usedIngredients) ? a.usedIngredients.length : 0;\n  const bUsed = Array.isArray(b.usedIngredients) ? b.usedIngredients.length : 0;\n  return bUsed - aUsed;\n});\n\nconst finalRecipes = strictRecipes.length ? strictRecipes : rankedRecipes;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    recipes: finalRecipes,\n    recipe_count: finalRecipes.length,\n    total_detected: totalDetected,\n    detected_names: detectedNames,\n    used_all_detected: strictRecipes.length > 0\n  }\n}];"
      },
      "id": "280e4ec5-f60b-41b8-8180-b38a41ca0c0e",
      "name": "Prepare Recipe Loop3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        640
      ]
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=https://api.spoonacular.com/recipes/{{ $json.recipes[0].id }}/analyzedInstructions?apiKey=YOUR_API_KEY",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9f7b17ce037c4035828c280a89d8710c"
            }
          ]
        },
        "options": {}
      },
      "id": "86f76c4d-279b-4bf0-8e5f-f7bd10aad3c9",
      "name": "Fetch Steps Recipe 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        464
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.spoonacular.com/recipes/{{ $json.recipes[1].id }}/analyzedInstructions?apiKey=YOUR_API_KEY",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9f7b17ce037c4035828c280a89d8710c"
            }
          ]
        },
        "options": {}
      },
      "id": "69ad54da-624b-4e74-8312-effb5da67574",
      "name": "Fetch Steps Recipe 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        640
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.spoonacular.com/recipes/{{ $json.recipes[2].id }}/analyzedInstructions?apiKey=YOUR_API_KEY",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9f7b17ce037c4035828c280a89d8710c"
            }
          ]
        },
        "options": {}
      },
      "id": "f4116d97-a5ea-4b83-b3f3-0f0c3dfd52e1",
      "name": "Fetch Steps Recipe 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        832
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        624
      ],
      "id": "6e15d074-5df7-4a8e-91f6-743bd7636dc9",
      "name": "Merge3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Send Ingredient List3').item.json.result.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "ca1ef89e-4c8a-4152-a303-df9d13ff7f11",
      "name": "Send Each Recipe3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2272,
        640
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst chatId = $('Send Ingredient List3').first().json.result.chat.id;\n\n// ----------------------\n// Helpers\n// ----------------------\nfunction cleanText(value) {\n  if (value == null) return \"\";\n  return String(value)\n    .replace(/\\s+/g, \" \")\n    .replace(/jalapeo/gi, \"jalapeño\")\n    .trim();\n}\n\nfunction uniqueByName(arr) {\n  const seen = new Set();\n\n  return (arr || []).filter(item => {\n    const key = (item?.name || \"\").toLowerCase().trim();\n    if (!key || seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n}\n\nfunction formatLength(length) {\n  if (!length || length.number == null || !length.unit) return null;\n\n  const num = Number(length.number);\n  const unit = String(length.unit).toLowerCase();\n\n  if (!Number.isFinite(num) || num <= 0 || num > 500) {\n    return {\n      raw: `${length.number} ${length.unit}`,\n      normalized: null,\n      warning: \"Unusual duration value\"\n    };\n  }\n\n  let normalized = `${num} ${unit}`;\n  if (num === 1 && unit.endsWith(\"s\")) {\n    normalized = `${num} ${unit.slice(0, -1)}`;\n  }\n\n  return {\n    raw: `${length.number} ${length.unit}`,\n    normalized\n  };\n}\n\nfunction formatRecipe(recipe, recipeIndex) {\n  const steps = Array.isArray(recipe.steps) ? recipe.steps : [];\n\n  const formattedSteps = steps.map(step => {\n    const ingredients = uniqueByName(step.ingredients || []).map(i => i.name);\n    const equipment = uniqueByName(step.equipment || []).map(e => e.name);\n\n    return {\n      step_number: step.number ?? null,\n      instruction: cleanText(step.step),\n      ingredients,\n      equipment,\n      duration: formatLength(step.length)\n    };\n  });\n\n  const allIngredients = uniqueByName(\n    steps.flatMap(step => step.ingredients || [])\n  ).map(i => i.name);\n\n  const allEquipment = uniqueByName(\n    steps.flatMap(step => step.equipment || [])\n  ).map(e => e.name);\n\n  const totalMinutes = steps.reduce((sum, step) => {\n    const len = step.length;\n    if (!len || len.number == null) return sum;\n\n    const num = Number(len.number);\n    const unit = String(len.unit || \"\").toLowerCase();\n\n    if (!Number.isFinite(num) || num <= 0 || num > 500) return sum;\n    if (unit.startsWith(\"minute\")) return sum + num;\n    if (unit.startsWith(\"hour\")) return sum + (num * 60);\n\n    return sum;\n  }, 0);\n\n  return {\n    recipe_number: recipeIndex + 1,\n    recipe_name: cleanText(recipe.name) || `Recipe ${recipeIndex + 1}`,\n    total_steps: formattedSteps.length,\n    total_time_minutes: totalMinutes || null,\n    ingredients_used: allIngredients,\n    equipment_used: allEquipment,\n    steps: formattedSteps\n  };\n}\n\n// ----------------------\n// Main\n// ----------------------\nconst recipes = Array.isArray(input) ? input : [input];\nconst formattedRecipes = recipes.map((recipe, index) => formatRecipe(recipe, index));\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,\n      recipe_count: formattedRecipes.length,\n      recipes: formattedRecipes\n    }\n  }\n];"
      },
      "id": "653021d7-41d2-4f54-a4df-dff5aa9b5df2",
      "name": "Build Full Recipe Messages3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger3": {
      "main": [
        [
          {
            "node": "Has Photo?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Photo?3": {
      "main": [
        [
          {
            "node": "Send Processing Message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Welcome Message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Message3": {
      "main": [
        [
          {
            "node": "Get File Path3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path3": {
      "main": [
        [
          {
            "node": "Analyze an image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image3": {
      "main": [
        [
          {
            "node": "Identify Each Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Each Items3": {
      "main": [
        [
          {
            "node": "Process Ingredients3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Ingredients3": {
      "main": [
        [
          {
            "node": "Build Ingredient Summary3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingredient Summary3": {
      "main": [
        [
          {
            "node": "Send Ingredient List3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Ingredient List3": {
      "main": [
        [
          {
            "node": "Fetch Recipes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipes3": {
      "main": [
        [
          {
            "node": "Prepare Recipe Loop3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Recipe Loop3": {
      "main": [
        [
          {
            "node": "Fetch Steps Recipe 10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Steps Recipe 11",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Steps Recipe 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Steps Recipe 9": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Steps Recipe 10": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Steps Recipe 11": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Build Full Recipe Messages3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Full Recipe Messages3": {
      "main": [
        [
          {
            "node": "Send Each Recipe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}