Pasted_text_14_redacted.json
{
  "name": "Fridge Friend - Photo to Recipe (Spoonacular)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1792,
        736
      ],
      "id": "REDACTED_ID",
      "name": "Telegram Trigger3",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "REDACTED_ID",
              "leftValue": "={{ $json.message.photo || $json.message.document }}",
              "rightValue": "",
              "operator": {
                "type": "exists",
                "operation": "exists"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "REDACTED_ID",
      "name": "Has Photo?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1520,
        736
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "👋 Hi! I'm your *Fridge Friend Bot*!\n\nSend me a 📸 photo of your ingredients and I'll:\n1. Detect what you have\n2. Suggest recipes with full steps!\n\nJust snap a pic to get started! 🍳",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "REDACTED_ID",
      "name": "Send Welcome Message3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        880
      ],
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📸 Got your photo! Analysing your ingredients with AI... please wait a moment ⏳",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "REDACTED_ID",
      "name": "Send Processing Message3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        640
      ],
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ (() => { const photos = $('Telegram Trigger3').item.json.message.photo || []; return photos.length ? photos[photos.length - 1].file_id : ''; })() }}",
        "additionalFields": {}
      },
      "id": "REDACTED_ID",
      "name": "Get File Path3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1024,
        640
      ],
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "Analyze this image and list all visible food ingredients/items. Return a bullet list with just the names (no explanations). If something is unclear, label it as 'unsure'.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        640
      ],
      "id": "REDACTED_ID",
      "name": "Analyze an image3",
      "credentials": {
        "googlePalmApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Input: Gemini output\n// Output: ONE item: { items: [ { name, confidence } ] }\n\nconst data = $input.first().json;\nconst text =\n  data?.content?.parts?.map(p => p?.text).filter(Boolean).join('\\n') ||\n  data?.candidates?.[0]?.content?.parts?.map(p => p?.text).filter(Boolean).join('\\n') ||\n  data?.text ||\n  '';\n\nconst items = text\n  .split(/\\r?\\n/)\n  .map(l => l.trim())\n  .filter(Boolean)\n  .map(l => l.replace(/^(\\*|-|•|\\d+[.)])\\s+/, '').trim())\n  .filter(Boolean)\n  .filter(l => l.length > 1);\n\nconst seen = new Set();\nconst uniqueItems = items\n  .filter(x => x.toLowerCase() !== 'unsure')\n  .filter(x => {\n    const key = x.toLowerCase();\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n\nreturn [{\n  json: {\n    items: uniqueItems.map(name => ({ name, confidence: 0.7 }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        640
      ],
      "id": "REDACTED_ID",
      "name": "Identify Each Items3"
    },
    {
      "parameters": {
        "jsCode": "// --------------- 1) Accept BOTH direct items and text/JSON model output ---------------\nlet items = [];\n\nif (Array.isArray($json?.items)) {\n  items = $json.items;\n}\n\nif (!items.length) {\n  const responseText =\n    $json?.text ||\n    $json?.candidates?.[0]?.content?.parts?.[0]?.text ||\n    $json?.content?.parts?.map(p => p?.text).filter(Boolean).join('\\n') ||\n    JSON.stringify($json || { items: [] });\n\n  try {\n    const cleaned = String(responseText).replace(/```json|```/g, '').trim();\n    const parsed = JSON.parse(cleaned);\n    items = Array.isArray(parsed.items) ? parsed.items : [];\n  } catch (e) {\n    items = [];\n  }\n}\n\n// --------------- 2) Process items (names only) ---------------\nconst seen = new Set();\n\nconst processedItems = items\n  .map(item => {\n    const name = String(item?.name ?? item?.label ?? '')\n      .toLowerCase()\n      .trim();\n    return { label: name, detected: name };\n  })\n  .filter(x => x.label && x.label.length > 1 && x.label !== 'unsure')\n  .filter(x => {\n    if (seen.has(x.label)) return false;\n    seen.add(x.label);\n    return true;\n  });\n\n// --------------- 3) Chat ID ---------------\nfunction getChatId(obj) {\n  return (\n    obj?.message?.chat?.id ??\n    obj?.chat?.id ??\n    obj?.callback_query?.message?.chat?.id ??\n    obj?.message?.from?.id ??\n    obj?.chat_id ??\n    obj?.chatId ??\n    null\n  );\n}\n\nconst chat_id =\n  getChatId($input.first()?.json ?? {}) ??\n  getChatId($('Telegram Trigger3').first().json ?? {}) ??\n  getChatId($json) ??\n  null;\n\nreturn [{\n  json: {\n    items: processedItems,\n    total: processedItems.length,\n    chat_id\n  }\n}];"
      },
      "id": "REDACTED_ID",
      "name": "Process Ingredients3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items;\n\nconst chatId =\n  $json.chat_id ??\n  $('Telegram Trigger3').first().json.message.chat.id ??\n  $('Telegram Trigger3').first().json.message.from.id;\n\nif (!items || items.length === 0) {\n  return [\n    {\n      json: {\n        message: \"😕 I couldn't detect any ingredients in this image. Please try again with a clearer photo!\",\n        ingredients_for_recipe: '',\n        detected_names: [],\n        detected_count: 0,\n        chat_id: chatId,\n        items: []\n      }\n    }\n  ];\n}\n\nlet msg = `🥦 *Detected ${items.length} ingredient(s):*\\n\\n`;\n\nitems.forEach((item) => {\n  msg += `• *${item.label}*\\n`;\n});\n\nmsg += `\\n🍳 *Finding recipes for you now...*`;\n\nconst ingredientNames = items.map(i => i.label);\n\nreturn [\n  {\n    json: {\n      message: msg,\n      ingredients_for_recipe: ingredientNames.join(','),\n      detected_names: ingredientNames,\n      detected_count: ingredientNames.length,\n      chat_id: chatId,\n      items: items\n    }\n  }\n];"
      },
      "id": "REDACTED_ID",
      "name": "Build Ingredient Summary3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        640
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "REDACTED_ID",
      "name": "Send Ingredient List3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        640
      ],
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.spoonacular.com/recipes/findByIngredients",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9f7b17ce037c4035828c280a89d8710c"
            },
            {
              "name": "ingredients",
              "value": "=\"{{ $('Build Ingredient Summary3').item.json.ingredients_for_recipe.replace('here are the visible food ingredients/items:,', '') }}\""
            },
            {
              "name": "number",
              "value": "3"
            },
            {
              "name": "ranking",
              "value": "1"
            },
            {
              "name": "ignorePantry",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "REDACTED_ID",
      "name": "Fetch Recipes3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet recipes = [];\n\nfor (const item of allItems) {\n  const j = item.json;\n\n  if (Array.isArray(j)) {\n    recipes = j.filter(r => r && (r.id || r.title));\n    if (recipes.length) break;\n  }\n\n  if (j?.body && Array.isArray(j.body)) {\n    recipes = j.body.filter(r => r && (r.id || r.title));\n    if (recipes.length) break;\n  }\n\n  if (Array.isArray(j?.recipes)) {\n    recipes = j.recipes.filter(r => r && (r.id || r.title));\n    if (recipes.length) break;\n  }\n\n  if (Array.isArray(j?.results)) {\n    recipes = j.results.filter(r => r && (r.id || r.title));\n    if (recipes.length) break;\n  }\n}\n\nif (!recipes.length) {\n  const maybeRecipes = allItems\n    .map(i => i.json)\n    .filter(r => r && !Array.isArray(r) && (r.id || r.title));\n  if (maybeRecipes.length) recipes = maybeRecipes;\n}\n\nlet chatId = null;\nlet detectedItems = [];\nlet detectedNames = [];\n\ntry {\n  const build = $('Build Ingredient Summary3').first().json || {};\n  chatId = build.chat_id ?? null;\n  detectedItems = Array.isArray(build.items) ? build.items : [];\n  detectedNames = Array.isArray(build.detected_names)\n    ? build.detected_names.map(x => String(x).toLowerCase().trim()).filter(Boolean)\n    : [];\n} catch (e) {}\n\nconst totalDetected = detectedNames.length;\n\nfunction normalize(str) {\n  return String(str || '')\n    .toLowerCase()\n    .trim();\n}\n\nfunction recipeUsesAllDetected(recipe, detectedNames) {\n  const used = Array.isArray(recipe.usedIngredients) ? recipe.usedIngredients : [];\n  const usedNames = used.map(i => normalize(i?.name));\n\n  return detectedNames.every(detected =>\n    usedNames.some(usedName =>\n      usedName === detected ||\n      usedName.includes(detected) ||\n      detected.includes(usedName)\n    )\n  );\n}\n\nconst strictRecipes = recipes.filter(recipe => recipeUsesAllDetected(recipe, detectedNames));\n\n// fallback: if strict match fails, sort by most used ingredients\nconst rankedRecipes = [...recipes].sort((a, b) => {\n  const aUsed = Array.isArray(a.usedIngredients) ? a.usedIngredients.length : 0;\n  const bUsed = Array.isArray(b.usedIngredients) ? b.usedIngredients.length : 0;\n  return bUsed - aUsed;\n});\n\nconst finalRecipes = strictRecipes.length ? strictRecipes : rankedRecipes;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    recipes: finalRecipes,\n    recipe_count: finalRecipes.length,\n    total_detected: totalDetected,\n    detected_names: detectedNames,\n    used_all_detected: strictRecipes.length > 0\n  }\n}];"
      },
      "id": "REDACTED_ID",
      "name": "Prepare Recipe Loop3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        640
      ]
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=https://api.spoonacular.com/recipes/{{ $json.recipes[0].id }}/analyzedInstructions?apiKey=REDACTED_API_KEY",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9f7b17ce037c4035828c280a89d8710c"
            }
          ]
        },
        "options": {}
      },
      "id": "REDACTED_ID",
      "name": "Fetch Steps Recipe 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        464
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.spoonacular.com/recipes/{{ $json.recipes[1].id }}/analyzedInstructions?apiKey=REDACTED_API_KEY",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9f7b17ce037c4035828c280a89d8710c"
            }
          ]
        },
        "options": {}
      },
      "id": "REDACTED_ID",
      "name": "Fetch Steps Recipe 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        640
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.spoonacular.com/recipes/{{ $json.recipes[2].id }}/analyzedInstructions?apiKey=REDACTED_API_KEY",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9f7b17ce037c4035828c280a89d8710c"
            }
          ]
        },
        "options": {}
      },
      "id": "REDACTED_ID",
      "name": "Fetch Steps Recipe 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        832
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        624
      ],
      "id": "REDACTED_ID",
      "name": "Merge3"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "REDACTED_ID",
      "name": "Send Each Recipe3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2272,
        640
      ],
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_ID",
          "name": "REDACTED_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stepItems = $input.all();\nconst recipeSource = $('Prepare Recipe Loop3').first().json || {};\nconst recipes = Array.isArray(recipeSource.recipes) ? recipeSource.recipes : [];\nconst detectedNames = Array.isArray(recipeSource.detected_names)\n  ? recipeSource.detected_names.map(x => String(x).toLowerCase().trim())\n  : [];\n\nconst chatId = $('Send Ingredient List3').first().json.result.chat.id;\n\n// ----------------------\n// Helpers\n// ----------------------\nfunction cleanText(value) {\n  if (value == null) return \"\";\n  return String(value).replace(/\\s+/g, \" \").trim();\n}\n\nfunction normalize(value) {\n  return cleanText(value).toLowerCase();\n}\n\nfunction titleCase(str) {\n  return cleanText(str)\n    .split(\" \")\n    .map(word => word ? word.charAt(0).toUpperCase() + word.slice(1) : \"\")\n    .join(\" \");\n}\n\nfunction extractInstructionBlocks(json) {\n  if (Array.isArray(json) && json.length > 0) return json;\n  if (Array.isArray(json?.body) && json.body.length > 0) return json.body;\n  return [];\n}\n\nfunction extractSteps(json) {\n  const blocks = extractInstructionBlocks(json);\n  if (blocks.length && Array.isArray(blocks[0].steps)) return blocks[0].steps;\n  if (Array.isArray(json?.steps)) return json.steps;\n  return [];\n}\n\nfunction getUsedIngredients(recipe) {\n  if (!Array.isArray(recipe.usedIngredients)) return [];\n  return recipe.usedIngredients\n    .map(i => cleanText(i.name))\n    .filter(Boolean);\n}\n\nfunction getMissedIngredients(recipe) {\n  if (!Array.isArray(recipe.missedIngredients)) return [];\n  return recipe.missedIngredients\n    .map(i => cleanText(i.name))\n    .filter(Boolean);\n}\n\n// ----------------------\n// Build one Telegram message per recipe\n// ----------------------\nconst output = [];\n\nfor (let i = 0; i < recipes.length; i++) {\n  const recipe = recipes[i] || {};\n  const stepJson = stepItems[i]?.json || {};\n  const steps = extractSteps(stepJson);\n\n  const title = cleanText(recipe.title) || `Recipe ${i + 1}`;\n  const recipeId = recipe.id;\n  const slug = title\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\");\n  const recipeUrl = recipeId\n    ? `https://spoonacular.com/recipes/${slug}-${recipeId}`\n    : \"\";\n\n  let usedIngredients = getUsedIngredients(recipe);\n  const missedIngredients = getMissedIngredients(recipe);\n\n  if (!usedIngredients.length && detectedNames.length) {\n    usedIngredients = detectedNames.map(titleCase);\n  }\n\n  let msg = `🍽️ *Recipe ${i + 1}: ${title}*\\n\\n`;\n\n  msg += `✅ *From your ingredients:*\\n`;\n  if (usedIngredients.length) {\n    usedIngredients.forEach(item => {\n      msg += `• ${item}\\n`;\n    });\n  } else {\n    msg += `• None clearly matched\\n`;\n  }\n\n  msg += `\\n🛒 *You might need:*\\n`;\n  if (missedIngredients.length) {\n    missedIngredients.forEach(item => {\n      msg += `• ${item}\\n`;\n    });\n  } else {\n    msg += `• Nothing else needed\\n`;\n  }\n\n  msg += `\\n📋 *Steps:*\\n`;\n  if (steps.length) {\n    steps.forEach((step, idx) => {\n      const instruction = cleanText(step.step);\n      msg += `${idx + 1}. ${instruction}\\n\\n`;\n    });\n  } else {\n    msg += `1. Sorry, I couldn't retrieve the steps for this recipe.\\n\\n`;\n  }\n\n  if (recipeUrl) {\n    msg += `🔗 *View Full Recipe:* ${recipeUrl}`;\n  }\n\n  output.push({\n    json: {\n      chat_id: chatId,\n      message: msg.trim()\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "REDACTED_ID",
      "name": "Build Full Recipe Messages3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        640
      ]
    }
  ],
  "pinData": {
    "Telegram Trigger3": [
      {
        "json": {
          "update_id": 225898786,
          "message": {
            "message_id": 147,
            "from": {
              "id": 1698998996,
              "is_bot": false,
              "first_name": "xw",
              "username": "itz_ummmmm",
              "language_code": "en"
            },
            "chat": {
              "id": 1698998996,
              "first_name": "xw",
              "username": "itz_ummmmm",
              "type": "private"
            },
            "date": 1775560346,
            "photo": [
              {
                "file_id": "AgACAgUAAxkBAAOTadTmmp3zIEWnLbaw9V42wE1aAAGiAALpDWsb3tSpVr8qJG8_y83nAQADAgADcwADOwQ",
                "file_unique_id": "AQAD6Q1rG97UqVZ4",
                "file_size": 1034,
                "width": 67,
                "height": 90
              },
              {
                "file_id": "AgACAgUAAxkBAAOTadTmmp3zIEWnLbaw9V42wE1aAAGiAALpDWsb3tSpVr8qJG8_y83nAQADAgADbQADOwQ",
                "file_unique_id": "AQAD6Q1rG97UqVZy",
                "file_size": 13920,
                "width": 240,
                "height": 320
              },
              {
                "file_id": "AgACAgUAAxkBAAOTadTmmp3zIEWnLbaw9V42wE1aAAGiAALpDWsb3tSpVr8qJG8_y83nAQADAgADeAADOwQ",
                "file_unique_id": "AQAD6Q1rG97UqVZ9",
                "file_size": 64508,
                "width": 600,
                "height": 800
              },
              {
                "file_id": "AgACAgUAAxkBAAOTadTmmp3zIEWnLbaw9V42wE1aAAGiAALpDWsb3tSpVr8qJG8_y83nAQADAgADeQADOwQ",
                "file_unique_id": "AQAD6Q1rG97UqVZ-",
                "file_size": 82096,
                "width": 960,
                "height": 1280
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger3": {
      "main": [
        [
          {
            "node": "Has Photo?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Photo?3": {
      "main": [
        [
          {
            "node": "Send Processing Message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Welcome Message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Message3": {
      "main": [
        [
          {
            "node": "Get File Path3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path3": {
      "main": [
        [
          {
            "node": "Analyze an image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image3": {
      "main": [
        [
          {
            "node": "Identify Each Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Each Items3": {
      "main": [
        [
          {
            "node": "Process Ingredients3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Ingredients3": {
      "main": [
        [
          {
            "node": "Build Ingredient Summary3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingredient Summary3": {
      "main": [
        [
          {
            "node": "Send Ingredient List3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Ingredient List3": {
      "main": [
        [
          {
            "node": "Fetch Recipes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipes3": {
      "main": [
        [
          {
            "node": "Prepare Recipe Loop3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Recipe Loop3": {
      "main": [
        [
          {
            "node": "Fetch Steps Recipe 10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Steps Recipe 11",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Steps Recipe 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Steps Recipe 9": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Steps Recipe 10": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Steps Recipe 11": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Build Full Recipe Messages3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Full Recipe Messages3": {
      "main": [
        [
          {
            "node": "Send Each Recipe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c734949-d59a-47fd-aeff-e51ae0ca5409",
  "meta": {
    "instanceId": "REDACTED_INSTANCE_ID"
  },
  "id": "REDACTED_ID",
  "tags": []
}